<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" type="text/css" href="index.css">
  </head>
  <body>
    <h1>Send Messages Anonymously</h1>
    <form action="/" method="POST">
      <div id = "number">
        To: <input type="text" name="number">
      </div>
      <div id = "message">
        Message: <input id = 'messagei' type="text" name="messages" >
      </div>
      <div id = "submit">
        <input type="submit" value="Send" id = "send">
      </div>
    </form>
  </body>
</html>
